<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 3
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1KbWiGlupiSwYlqc8nmV6KjB3vNTI0C5hxZ6Tq3ZU4QA).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [5]:
df = pd.read_csv('mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [6]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин

In [170]:
# Ваш код здесь
# Средний рост по категориям пола. 
print(df.groupby('gender')['height'].mean())
print(df.gender.value_counts())
#Делаем вывод, что кол-во мужчин(2 категория) = 24470
s1 = df.groupby('gender')['height'].mean()
s2 = df.gender.value_counts()
#pd.DataFrame(data=dict(s1=s1, s2=s2, index=s1.index))

s1.to_frame().join(s2.to_frame())

#pd.DataFrame(s1.align(s2, join='left', axis=None))

gender
1    161.355612
2    169.947895
Name: height, dtype: float64
1    45530
2    24470
Name: gender, dtype: int64

            height  gender
gender
1       161.355612   45530
2       169.947895   24470

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [23]:
# Ваш код здесь
#В среднем женщины реже указывают, что пьют алкоголь
print(df.groupby('gender')['alco'].mean())

gender
1    0.025500
2    0.106375
Name: alco, dtype: float64

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [34]:
# Ваш код здесь
np.round(df.groupby('gender')['smoke'].mean()[2]/df.groupby('gender')['smoke'].mean()[1])

12.0

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 10
- 15
- 20
- 25

In [44]:
# Ваш код здесь
(df.groupby('smoke')['age'].median()[0] -df.groupby('smoke')['age'].median()[1])/30

19.899999999999999

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [55]:
# Ваш код здесь
# Создаем колонку с количеством лет пациента 
df['age_years'] = df.age.apply(lambda x: np.round(x/365.0))
# Выделяем данные по условию №1
df1 = df[(df['age_years']>60)& (df['age_years']<=64) &(df['gender']==2)]

In [57]:
def cholest_map(x):
    if x ==1:
        x= 4
    elif x==2:
        x = 5
    else:
        x =8
    return x

In [61]:
df1.cholesterol = df1.cholesterol.map(cholest_map)

C:\Users\somarov\Anaconda3\lib\site-packages\pandas\core\generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [62]:
df1.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
12,22584,2,178,95.0,130,90,8,3,0,0,1,1,62.0
33,23376,2,156,45.0,110,60,4,1,0,0,1,0,64.0
52,23388,2,162,72.0,130,80,4,1,1,0,1,1,64.0
90,22099,2,171,97.0,150,100,8,1,1,0,1,1,61.0
126,22821,2,168,80.0,160,100,4,1,0,0,1,0,63.0

In [78]:
# смотрим долю больных  для различных категорий людей и определяем, во сколько раз во сколько раз (округленно, round) 
# отличаются доли больных людей (согласно целевому признаку, cardio) в этих двух подвыборках
t1 = df1[(df1['ap_hi']<120)&(df1['cholesterol']==4)]['cardio'].value_counts(normalize=True)
t2 = df1[(df1['ap_hi']>=160)&(df1['ap_hi']<180)&(df1['cholesterol']==8)]['cardio'].value_counts(normalize=True)
np.round(t2.loc[1]/t1.loc[1])

2.0

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке превышает норму
- У женщин в среднем BMI ниже, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [80]:
# Ваш код здесь
df['BMI'] = df['weight']/(df['height'].map(lambda x: x/100.0))**2

In [88]:
# Медианный BMI по выборке превышает норму -да
df['BMI'].median()
# У женщин в среднем BMI ниже, чем у мужчин- да
df.groupby('gender')['BMI'].mean()
#У здоровых в среднем BMI выше, чем у больных - нет
df.groupby('cardio')['BMI'].mean()
# В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин -да
print(df[(df['gender']==2)&(df['alco']==0)]['BMI'].mean())
print(df[(df['gender']==1)&(df['alco']==0)]['BMI'].mean())

26.711539336810702
27.9417507117023

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Это вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [152]:
# Ваш код здесь
df_filtered1 = df.loc[df.index.isin(df[df['ap_hi']<df['ap_lo']].index.values)]

In [153]:
perc275_height = df.height.quantile(.0275)
perc975_height = df.height.quantile(.975)

perc275_weight = df.weight.quantile(.0275)
perc975_weight = df.weight.quantile(.975)


df_filtered2 = df[df['height'].map(lambda x: True if (x<perc275_height) |(x>perc975_height) else False)]
df_filtered3 = df[df['weight'].map(lambda x: True if (x<perc275_weight) |(x>perc975_weight) else False)]

In [157]:
l= [df_filtered1.index.values.tolist(), df_filtered2.index.values.tolist(), df_filtered3.index.values.tolist()]
flat_list = [item for sublist in l for item in sublist]
len(set(flat_list))

6980

In [171]:
# Ответ -10
np.round(len(list(set(flat_list)))*100/df.shape[0])

10.0

In [165]:
df_filtered_all = df.loc[~df.index.isin(list(set(flat_list)))]

In [168]:
# Отфильтроваванная таблица
df_filtered_all.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,BMI
id,,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.0,21.967120
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.0,34.927679
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,52.0,23.507805
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.0,28.710479
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,48.0,23.011177